*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transition: .3s;
}
body{
    font-family: var(--theme-default-font);

}
/* ===========NAVABAR============= */
.navbar{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: .5rem 1rem;
    position: fixed;
    width: 100%;
    top: 0px;
    background: #fffffff2;
}
.navbar > .branding{
    display: flex;
    align-items: center;
}
.navbar > .branding > .logo{
    width: 3rem;
}
.navbar > .branding > .text{
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
    padding: 0 .5rem;
}
.navbar > .right{
    position: absolute;
    display: flex;
    align-items: center;
    right: 3rem;
}
.navbar > .right > .themeSelection-cont{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.navbar > .right > .themeSelection-cont > .selectionCont{
    border: 2px solid black;
    padding: .3rem .7rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.navbar > .right > .themeSelection-cont > .selectionCont:hover{
    background-color: rgba(128, 128, 128, 0.444);
}
.navbar > .right > .themeSelection-cont > .heading{
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: .5rem;
}
.navbar > .right > .themeSelection-cont > .selectionCont > #themeListToggler{
    background: #00000000;
    border: none;
}
.navbar > .right > .themeSelection-cont > .selectionCont > #themeListToggler > .expand-more{
    cursor: pointer;
    width: 1rem;
    margin-left: .3rem;

}
.main-content{
    background: url(/assets/BGs/default-bg.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-content > .topBar{
    font-size: 9rem;
}
.main-content > .bottom-bar{
    font-size: 2rem;
}
.main-content > #navbarToggler{
    position: absolute;
    right: 1rem;
    top: 5rem;
    border: 2px solid black;
    padding: .2rem .4rem;
    border-radius: 10px;
    background-color: #ffffff9d;
    cursor: pointer;
}
.main-content > #navbarToggler:hover{
    background-color: #b1b1b1c6;
}