@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); 
/* Default Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ===========VARIABLES============ */
:root{
    /* --theme-default-font : 'Ysabeau', sans-serif; */
    --theme-default-font :  'Poppins', sans-serif;
    --theme-default-dark-bg: url(/assets/BGs/default-dark-bg.jpg);
}