@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Caprasimo&family=Courgette&family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&family=Satisfy&display=swap');

/* Fonts */
.font_bricolage_grotesque{
    font-family: 'Bricolage Grotesque', sans-serif;
}
.font_caprasimo{
    font-family: 'Caprasimo', cursive;
}
.font_courgette{
    font-family: 'Courgette', cursive;
}
.font_great_vibes{
    font-family: 'Great Vibes', cursive;
}
.font_montserrat{
    font-family: 'Montserrat', sans-serif;
}
.font_orbitron{
    font-family: 'Orbitron', sans-serif;
}
.font_pacifico{
    font-family: 'Pacifico', cursive;
}
.font_poppins{
    font-family: 'Poppins', sans-serif;
}
.font_roboto{
    font-family: 'Roboto', sans-serif;
}
.font_rowdies{
    font-family: 'Rowdies', cursive;
}
.font_satisfy{
    font-family: 'Satisfy', cursive;
}

/* Fonts */
.default_theme{
    background: url(/images/dawn_landscape_sunset_beach.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0f0f0f;
}
.default_theme > .top_bar{
    font-weight: 700;
    font-size: 6rem;
}
